xep-0239-urn_xmpp_bxmpp.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
        xmlns:xs='http://www.w3.org/2001/XMLSchema'
        targetNamespace='urn:xmpp:bxmpp'
        xmlns='urn:xmpp:bxmpp'
        elementFormDefault='qualified'>

    <xs:element name='one' type='empty'/>
    <xs:element name='zero' type='empty'/>

    <xs:simpleType name='empty'>
        <xs:restriction base='xs:string'>
            <xs:enumeration value=''/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>