xep-0432-xmpp.json_msg._0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:xmpp:json-msg:0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="payload" type="udt:payloadType" xmlns:udt="urn:xmpp:json-msg:0"/>
    <xs:complexType name="payloadType">
        <xs:sequence>
            <xs:any minOccurs="1" maxOccurs="1"/>
            <!-- Always a XEP-0335 json element, but I can't figure that out. -->
        </xs:sequence>
        <xs:attribute type="xs:string" name="datatype"/>
    </xs:complexType>
</xs:schema>