xep-0425-xmpp.message_moderate._0.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
        xmlns:xs='http://www.w3.org/2001/XMLSchema'
        targetNamespace='urn:xmpp:message-moderate:0'
        xmlns='urn:xmpp:message-moderate:0'
        elementFormDefault='qualified'>

    <xs:element name='moderate'></xs:element>

    <xs:element name='moderated'>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base='xs:string'>
                    <xs:attribute name='by' type='xs:string' use='required'/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>