xep-0220-xmpp-features-dialback.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xs:schema
        xmlns:xs='http://www.w3.org/2001/XMLSchema'
        targetNamespace='urn:xmpp:features:dialback'
        xmlns='urn:xmpp:features:dialback'
        elementFormDefault='qualified'>

    <xs:element name='dialback'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='errors' minOccurs='0' type='empty'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name='empty'>
        <xs:restriction base='xs:string'>
            <xs:enumeration value=''/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>